<h1>Details</h1>
<table *ngIf="!showDetails; else showSingleDetail">
    <thead>
        <tr>
            <td>Title</td>
            <td>Genre</td>
            <td>Overview</td>
            <td>Cast</td>
            <td>Rating</td>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let m of movieDetails" 
        [ngClass]="{'success': m.rating >= 8,'warning': m.rating < 8 && m.rating > 7,'danger': m.rating <= 7}" >

                <td *ngIf="filterRating(m.rating); else contentNotFound">{{m.title}}</td>
                <td *ngIf="filterRating(m.rating); else contentNotFound">{{m.genre}}</td>
                <td *ngIf="filterRating(m.rating); else contentNotFound">{{m.overview | truncate }}</td>
                <td *ngIf="filterRating(m.rating); else contentNotFound">{{m.cast}}</td>
                <td *ngIf="filterRating(m.rating); else contentNotFound">{{m.rating}}</td>

            <ng-template #contentNotFound></ng-template>
        </tr>
    </tbody>
</table>
<ng-template #showSingleDetail></ng-template>